.global{
    max-width: 84%;
    margin: 0 auto;
}
/* HEADER */
.page-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
    margin-top: 2rem;
}

.page-title{
    font-size: 3em;
    font-weight: 900;
}

.page-subtext{
    color: #62656a;
}
/* CARD */
.card-wrapper{
    margin-top: 2rem;
    height: auto;
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 1rem;
}

.card-img{
    padding: 2rem 2rem 1rem 1rem;
    width: 350px;
    height: 300px;
    object-fit: cover;
    float: left;
    border-radius: 2.5rem;
    background-color: white;
}

.text{
    display: flex;
    flex-direction: column;
    line-height: 2em;
    font-size: larger;
    margin-top: 2rem;
    margin-right: 2rem;
    background-color: white;
}

.card-title{
    font-weight: 800;
    font-size: 2.5em;
    background-color: white;
}

.card-subtitle{
    font-size: 1.5em;
    margin-top: 0.5rem;
    background-color: white;
}

.card-text{
    font-size: 1em;
    line-height: 2rem;
    background-color: white;
}

.card-ingredient{
    background-color: white;
    margin-top: 1rem;
    margin-right: 1rem;
    float: left;
}

.card-ingredient h5{
    font-size: 1.2em;
    background-color: white;

}

.card-method{
    margin-top: 1rem;
    margin-right: 2rem;
    margin-left: 1rem;
}

.card-method h5{
    font-size: 1.2em;
    background-color: white;
}

.card-list li{
    list-style-type: circle;
    background-color: white;

}

.page-btn{
    padding-right: 1rem;
    padding-left: 1rem;
}

.card-btn{
    margin-top: 1rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: end;
    gap: 0.5em;
    background-color: white;
}
